<div class="work-box">
  <div class="work-box-inner">
    <div class="work-image-box">
      <%= display_work_image(work) %>
    </div>
    <div class="work-text">
      <p class="work-title"><%= work.name %></p>
      <div class="work-description">
        <p><%= work.summary %></p>
      </div>
      <p><%= link_to "リポジトリ", work.repository, target: "_blank" %><%= link_to " / 公開サイト", work.production, target: "_blank" %></p>
      <%= link_to 'READ MORE', work_path(work), class: 'button button-ghost' %>
    </div>
  </div>
</div>
