<header class="header">
  <p class="site-title-sub">Web Enginner</p>
  <h1 class="site-title">Shogo's Portfolio</h1>
  <p class="site-description">Check out some of my works.</p>
  <div class="buttons">
    <%= link_to "LEARN MORE", "#about", class: "button" %>
    <%= link_to "SEND MESSAGE", "#contact", class: "button button-showy" %>
  </div>
</header>
<section id="about" class="about">
  <div><h2 class="heading">ABOUT</h2></div>
  <div class="about-text">
    <p><%= simple_format(h(@user.introduction)) %></p>
  </div>
</section>
<section class="works">
  <h2 class="heading">WORKS</h2>
  <div class="works-wrapper">
    <%= render partial: 'static_pages/work', collection: @works %>
    <%= link_to 'もっと見る', works_path, class: "work-link" if @works_count > 4 %>
  </div>
</section>
<section class="skills">
  <h2 class="heading">SKILLS</h2>
  <div class="skills-wrapper">
    <div class="skill-box">
      <i class="<%= "skill-icon #{@user.skill_icon_1}" %>"></i>
      <div class="skill-title"><%= @user.skill_title_1 %></div>
      <div class="skill-text">
        <%= simple_format(h(@user.skill_description_1)) %>
      </div>
    </div>
    <div class="skill-box">
      <i class="<%= "skill-icon #{@user.skill_icon_2}" %>"></i>
      <div class="skill-title"><%= @user.skill_title_2 %></div>
      <div class="skill-text">
        <%= simple_format(h(@user.skill_description_2)) %>
      </div>
    </div>
    <div class="skill-box">
      <i class="<%= "skill-icon #{@user.skill_icon_3}" %>"></i>
      <div class="skill-title"><%= @user.skill_title_3 %></div>
      <div class="skill-text">
        <%= simple_format(h(@user.skill_description_3)) %>
      </div>
    </div>
  </div>
</section>
<section id="contact" class="contact">
  <h2 class="heading">CONTACT</h2>
  <div class="contact-wrapper">
    <%= link_to "mailto:harada.tosho.2016@gmail.com", class: "contact-mail" do %>
      <i class="contact-icon far fa-envelope"></i>
      harada.tosho.2016@gmail.com
    <% end %>
  </div>
  <%= link_to "https://bitbucket.org/shogo-h/", target: "_blank" do %>
    <i class="git-icon fab fa-bitbucket"></i>
  <% end %>
</section>
<footer class="footer">&copy; Shogo</footer>
