<section class="works" style="background-image:none;">
  <div class="breadcrumbs">
    <%= link_to "TOP", root_path %>
    <span> / </span>
    <%= link_to "WORKS", works_path %>
    <span> / </span>
    <%= @work.name %>
  </div>
  <h2 class="heading"><%= @work.name %></h2>
  <div class="work-show">
    <%= display_work_image(@work) %>
    <div class="work-description">
      <p><%= simple_format(h(@work.description)) %></p>
    </div>
    <p><%= link_to "リポジトリ", @work.repository, target: "_blank" %>
      <%= link_to " / 公開サイト", @work.production, target: "_blank" %>
    </p>
  </div>
</section>
<%= render 'static_pages/footer' %>
