<section class="works">
  <div class="breadcrumbs">
    <%= link_to "TOP", root_path %>
    <span> / </span>
    WORKS
  </div>
  <h2 class="heading">WORKS</h2>
  <div class="works-wrapper">
    <%= render partial: 'static_pages/work', collection: @works %>
  </div>
</section>
<%= render 'static_pages/footer' %>
