<% provide(:title, "ログイン") %>

<h1 class="my-5 text-center">ログイン</h1>

<%= form_with scope: :session, local: true do |form| %>
  <div class="form-group">
    <%= form.label :email, 'メールアドレス' %>
    <%= form.text_field :email, class: 'form-control', id: 'session_email' %>
  </div>
  <div class="form-group">
    <%= form.label :password, 'パスワード' %>
    <%= form.password_field :password, class: 'form-control', id: 'session_password' %>
  </div>
  <%= form.submit 'ログインする', class: 'btn btn-primary' %>
<% end %>
