<% if work.errors.present? %>
  <ul id="error_explanation">
    <% work.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: [:admin, work], local: true do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', id: 'work_name' %>
  </div>
  <div class="form-group">
    <%= form.label :summary %>
    <%= form.text_field :summary, class: 'form-control', id: 'work_summary' %>
  </div>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 5, class: 'form-control', id: 'work_description' %>
  </div>
  <div class="form-group">
    <%= form.label :repository %>
    <%= form.text_field :repository, class: 'form-control', id: 'work_repository' %>
  </div>
  <div class="form-group">
    <%= form.label :production %>
    <%= form.text_field :production, class: 'form-control', id: 'work_production' %>
  </div>
  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: 'form-control' %>
    <p class="form_alert">画像サイズは1MB以下までアップロード可能です。</p>
  </div>
  <%= form.submit nil, class: 'btn btn-primary' %>
<% end %>
