<tr>
  <td><%= link_to work.name, admin_work_path(work) %></td>
  <td><%= work.created_at %></td>
  <td><%= work.updated_at %></td>
  <td>
    <%= link_to '詳細', admin_work_path(work), class: 'btn btn-primary' %>
    <%= link_to '編集', edit_admin_work_path(work), class: 'btn btn-primary' %>
    <%= link_to '削除', [:admin, work], method: :delete, data: { confirm: "「#{work.name}」を削除します。よろしいですか？"}, class: 'btn btn-danger' %>
  </td>
</tr>
