<% provide(:title, "作品の編集") %>

<h1 class="my-5 text-center">作品の編集</h1>

<div class="nav justify-content-end">
  <%= link_to '一覧に戻る', admin_works_path, class: 'nav-link' %>
</div>

<%= render 'form', work: @work %>
