<% provide(:title, "作品一覧") %>

<h1 class="my-5 text-center">作品一覧</h1>
<%= link_to '新規登録' ,new_admin_work_path, class: 'btn btn-primary' %>
<div class="mt-3">
  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th><%= User.human_attribute_name(:name) %></th>
        <th><%= User.human_attribute_name(:created_at) %></th>
        <th><%= User.human_attribute_name(:updated_at) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @works %>
    </tbody>
  </table>
</div>
