<% provide(:title, "作品詳細") %>

<h1 class="my-5 text-center">作品詳細</h1>

<div class="nav justify-content-end">
  <%= link_to '一覧に戻る', admin_works_path, class: 'nav-link' %>
</div>

<table class="table table-hover">
  <tbody>
    <tr>
      <th><%= Work.human_attribute_name(:name) %></th>
      <td><%= @work.name %></td>
    </tr>
    <tr>
      <th><%= Work.human_attribute_name(:summary) %></th>
      <td><%= @work.summary %></td>
    </tr>
    <tr>
      <th><%= Work.human_attribute_name(:description) %></th>
      <td><%= auto_link(simple_format(h(@work.description), {}, sanitize: false, wrapper_tag: "div")) %></td>
    </tr>
    <tr>
      <th><%= Work.human_attribute_name(:repository) %></th>
      <td><%= auto_link(@work.repository, html: { target: '_blank' }) %></td>
    </tr>
    <tr>
      <th><%= Work.human_attribute_name(:production) %></th>
      <td><%= auto_link(@work.production, html: { target: '_blank' }) %></td>
    </tr>
    <tr>
      <th><%= Work.human_attribute_name(:image) %></th>
      <td><%= image_tag @work.image.url if @work.image? %></td>
    </tr>
    <tr>
      <th><%= Work.human_attribute_name(:created_at) %></th>
      <td><%= @work.created_at %></td>
    </tr>
    <tr>
      <th><%= Work.human_attribute_name(:updated_at) %></th>
      <td><%= @work.updated_at %></td>
    </tr>
  </tbody>
</table>

<%= link_to '編集', edit_admin_work_path(@work), class: 'btn btn-primary mr-3' %>
<%= link_to '削除', [:admin, @work], method: :delete, data: { confirm: "「#{@work.name}」を削除します。よろしいですか？"}, class: 'btn btn-danger' %>
