/* Start reset css
   ========================================================================== */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* End reset css
  ========================================================================== */
@charset "UTF-8";

/* 共通 */

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #151515;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.bg-image {
  background: #151515 image-url('/assets/bg.jpg') no-repeat fixed left bottom;
  background-size: cover;
}

a {
  text-decoration: none;
}
/* ヘッダー */

.admin-menu {
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
  text-align: right;
  position: fixed;
  width: 100%;
}

.admin-menu a {
  text-decoration: none;
  color: #fff;
}

.header {
  padding: 170px 30px 80px;
}

.site-title-sub {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 2.2rem;
}

.site-title-sub::before,
.site-title-sub::after {
  content: '';
  display: inline-block;
  width: 140px;
  height: 2px;
  margin: 0 30px;
  background-color: #fff;
  vertical-align: middle;
}

.site-title {
  margin: 50px 0 40px;
  font-size: 7.6rem;
}

.site-description {
  margin-bottom: 50px;
  font-size: 2.2rem;
}

.site-title-sub,
.site-title,
.site-description {
  text-shadow: black 0 0 1px;
}

.button {
  display: inline-block;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  background-color: #afa58d;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.button:hover {
  opacity: 0.8;
}

.button-showy {
  background-color: #f1b400;
}

.buttons .button {
  margin: 10px;
}

/* ABOUT */

.about {
  padding: 80px 30px;
  background-color: #fff;
  color: #333;
}

.heading {
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 4rem;
}

.heading::before,
.heading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #999;
}

.heading::before {
  bottom: 5px;
}

.about-text {
  display: inline-block;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  margin: 30px 0;
  line-height: 2.5;
}

.about-text p{
  text-align: left;
}

/* WORKS */
.works {
  background-color: #383634;
  padding: 80px 0;
}

.works-wrapper {
  display: flex;
  width: 100%;
  margin-top: 30px;
  table-layout: fixed;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  flex-wrap: wrap;
  justify-content: center;
}

.work-box {
  display: flex;
  width: 25%;
  padding: 30px;
}

.work-box-inner {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

.work-image-box {
  height: 200px;
}

.work-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px 5px 0 0;
}

.work-text {
  padding: 10px;
  color: #333;
}

.work-title {
  font-size: 2rem;
}

.work-text a {
  color: #333;
}

.work-text a:hover {
  opacity: 0.8;
}

.work-text .button {
  width: 60%;
  margin-top: 20px;
  padding: 3px;
  color: #fff;
}

.work-link {
  color: #fff;
}

.button-ghost {
  border: 1px solid #6e6e6e;
  background-color: rgba(110, 110, 110, 1);
}

.button-ghost:hover {
  opacity: 0.8;
}

/* SKILLS */
.skills {
  padding: 80px 0;
  background-color: #fff;
  color: #333;
}

.skills-wrapper {
  display: table;
  width: 80%;
  margin: 50px auto 0;
  table-layout: fixed;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.skill-box {
  display: table-cell;
}

.skill-icon {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  border: 4px solid;
  border-radius: 50%;
  color: #f1b400;
  font-size: 8rem;
  line-height: 142px;
}

.skill-title {
  margin: 0 20px 20px;
  font-size: 2rem;
}

.skill-text {
  margin: 0 20px;
  line-height: 2;
  display: inline-block;
}

.skill-text p{
  text-align: left;
}

/* CONTACT */
.contact {
  padding: 80px 0 20px;
  background-color: rgba(0, 0, 0, 0.4);
}

.contact-wrapper {
  margin: 30px 0 100px;
}

.contact-icon {
  font-size: 3rem;
  margin-right: 10px;
}

.contact-mail {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 4rem;
}

.git-icon {
  width: 80px;
  height: 80px;
  border: 4px solid;
  border-radius: 50%;
  color: #fff;
  font-size: 5rem;
  line-height: 72px;
  margin: 0 15px;
}

.git-icon:hover,
.contact-mail:hover {
  opacity: 0.8;
}

.footer {
  padding: 12px 0;
  font-size: 1.3rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.sub-footer {
  padding: 12px 0;
  font-size: 1.3rem;
  background-color: #151515;
}

@media (max-width: 1280px) {
  .work-box {
    width: 33.3%;
  }
}

@media (max-width: 1024px) {
  body {
    background: #151515 url('../bg.jpg') no-repeat;
  }
}

@media (max-width: 850px) {
  .work-box {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .work-box {
    width: auto;
  }
}

@media (max-width: 768px) {
  .site-title-sub::before,
  .site-title-sub::after {
    display: block;
    width: 80%;
    margin: 10px auto;
  }

  .site-title-sub {
    font-size: 1.7rem;
  }

  .site-title {
    margin-top: 35px;
    font-size: 5rem;
  }

  .header {
    padding-top: 60px;
  }

  .button:hover,
  .work-text a:hover,
  .git-icon:hover,
  .contact-mail:hover {
    opacity: 1;
  }

  /* ABOUT */
  .heading {
    font-size: 2.5rem;
  }

  body {
    font-size: 1.3rem;
  }

  .about-text {
    line-height: 1.8;
  }

  /* SKILLS */
  .skills-wrapper,
  .skill-box {
    display: block;
  }

  .skill-icon {
    width: 100px;
    height: 100px;
    font-size: 5rem;
    line-height: 92px;
  }

  .skill-box {
    margin: 40px auto;
  }

  .skill-text {
    margin: 0;
  }

  .contact {
    padding-top: 80px;
  }

  .contact-icon {
    font-size: 2rem;
  }

  .contact-mail {
    font-size: 2rem;
  }

  .git-icon {
    width: 50px;
    height: 50px;
    font-size: 3rem;
    line-height: 42px;
  }
}

.breadcrumbs {
  text-align: left;
  margin: 0 0 40px 20px;
  color: #fff;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.breadcrumbs a{
  color: #bfbfbf;
}

.breadcrumbs span{
  color: #bfbfbf;
  margin: 0 5px;
}

.work-show {
  max-width: 400px;
  margin: 60px auto;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.work-show p{
  margin: 30px 0;
}

.work-show a{
  color: #fff;
}

.work-show a:visited{
  color: #fff;
}

.work-description {
  display: inline-block;
}

.work-description p{
  text-align: left;
}

@media (max-width: 768px) {
  .work-show {
    padding: 0 20px;
  }
}
