<tr>
  <td><%= link_to user.name, admin_user_path(user) %></td>
  <td><%= user.email %></td>
  <td><%= user.admin %></td>
  <td><%= user.created_at %></td>
  <td><%= user.updated_at %></td>
  <td>
    <%= link_to '詳細', admin_user_path(user), class: 'btn btn-primary' %>
    <%= link_to '編集', edit_admin_user_path(user), class: 'btn btn-primary' %>
  </td>
</tr>
