<% provide(:title, "ユーザーの編集") %>

<h1 class="my-5">ユーザーの編集</h1>

<div class="nav justify-content-end">
  <%= link_to '一覧に戻る', admin_users_path, class: 'nav-link' %>
</div>

<% if @user.errors.present? %>
  <ul id="error_explanation">
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: [:admin, @user], local: true do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :introduction %>
    <%= form.text_area :introduction, rows: 5, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :skill_icon_1 %>
    <%= form.text_field :skill_icon_1, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :skill_title_1 %>
    <%= form.text_field :skill_title_1, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :skill_description_1 %>
    <%= form.text_area :skill_description_1, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :skill_icon_2 %>
    <%= form.text_field :skill_icon_2, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :skill_title_2 %>
    <%= form.text_field :skill_title_2, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :skill_description_2 %>
    <%= form.text_area :skill_description_2, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :skill_icon_3 %>
    <%= form.text_field :skill_icon_3, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :skill_title_3 %>
    <%= form.text_field :skill_title_3, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :skill_description_3 %>
    <%= form.text_area :skill_description_3, class: 'form-control' %>
  </div>
  <div class="form-check">
    <%= form.label :admin, class: 'form-check-label' do %>
      <%= form.check_box :admin, class: 'form-check-input' %>
      管理者権限
    <% end %>
  </div>
  <div class="form-group">
    <%= form.label :password, 'パスワード' %>
    <%= form.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :password_confirmation, 'パスワード（確認）' %>
    <%= form.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <%= form.submit '更新する', class: 'btn btn-primary' %>
<% end %>
