<% provide(:title, "ユーザー詳細") %>

<h1 class="my-5">ユーザー詳細</h1>

<div class="nav justify-content-end">
  <%= link_to '一覧に戻る', admin_users_path, class: 'nav-link' %>
</div>

<table class="table table-hover">
  <tbody>
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:email) %></th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:introduction) %></th>
      <td><%= auto_link(simple_format(h(@user.introduction), {}, sanitize: false, wrapper_tag: "div")) %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:skill_icon_1) %></th>
      <td><i class="<%="skill-icon #{@user.skill_icon_1}" %>"></i></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:skill_title_1) %></th>
      <td><%= @user.skill_title_1 %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:skill_description_1) %></th>
      <td><%= @user.skill_description_1 %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:skill_icon_2) %></th>
      <td><i class="<%="skill-icon #{@user.skill_icon_2}" %>"></i></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:skill_title_2) %></th>
      <td><%= @user.skill_title_2 %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:skill_description_2) %></th>
      <td><%= @user.skill_description_2 %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:skill_icon_3) %></th>
      <td><i class="<%="skill-icon #{@user.skill_icon_3}" %>"></i></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:skill_title_3) %></th>
      <td><%= @user.skill_title_3 %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:skill_description_3) %></th>
      <td><%= @user.skill_description_3 %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:admin) %></th>
      <td><%= @user.admin %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:created_at) %></th>
      <td><%= @user.created_at %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:updated_at) %></th>
      <td><%= @user.updated_at %></td>
    </tr>
  </tbody>
</table>

<%= link_to '編集', edit_admin_user_path(@user), class: 'btn btn-primary mr-3' %>
