<div class="app-title navbar navbar-expand-md navbar-light bg-light">
  <div class="navbar-brand">Portfolio管理画面</div>
  <ul class="navbar-nav ml-auto">
    <% if current_user %>
      <li class="nav-item"><%= link_to "Portfolio", root_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to "User", admin_users_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to "Work", admin_works_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to "Logout", logout_path, method: :delete, class: 'nav-link' %></li>
    <% else %>
      <li class="nav-item"><%= link_to "Login", login_path, class: 'nav-link' %></li>
    <% end %>
  </ul>
</div>
<% if flash.notice.present? %>
  <div class="alert alert-success">
    <%= flash.notice %>
  </div>
<% end %>
